meta(charset='UTF-8')
meta(name='theme-color', content='#0074d9')
meta(name='author', content='Sete Três - http://setetres.st')
meta(name='viewport', content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

meta(property='fb:app_id', content='155658704635453')

link(rel='manifest', href='/manifest.json')
link(rel='apple-touch-icon', href='/img/icon-512x512.png')
link(rel='icon', href='/favicon.png')
link(rel='stylesheet', href='/css/main.min.css')
