nav.navigation
    ul.navigation__menu.navigation__menu--small
        li
            a.link.link--small(href='/about/') About
        li
            a.link.link--small(href='/contact/') Contact
    ul.navigation__menu.navigation__menu--large.navigation__menu--works
        li
            a.link.link--large(href='/inkstarter/') InkStarter
        li
            a.link.link--large(href='/cacete-company/') Cacete Company
        li
            a.link.link--large(href='/archive/') Archive
