doctype html
html(lang='en', itemscope='', itemtype='http://schema.org')
    head
        include inc/meta.pug

        title Sete Três
        meta(name='description', content='Hello, my name is Guilherme Pangnotta. Born and raised in São Paulo now living in Belo Horizonte, Brazil. Currently working as Product Designer at Hotmart, Tattoo Artist at InkStarter and also a member of the Awwwards Jury.')
        link(rel='canonical', href='http://setetres.st')

        meta(property='og:type', content='website')
        meta(property='og:title', content='Sete Três')
        meta(property='og:description', content='Hello, my name is Guilherme Pangnotta. Born and raised in São Paulo now living in Belo Horizonte, Brazil. Currently working as Product Designer at Hotmart, Tattoo Artist at InkStarter and also a member of the Awwwards Jury.')
        meta(property='og:image', content='https://setetres.st/img/share-home.png')
        meta(property='og:url', content='https://setetres.st')

        meta(itemprop='name', content='Sete Três')
        meta(itemprop='description', content='Hello, my name is Guilherme Pangnotta. Born and raised in São Paulo now living in Belo Horizonte, Brazil. Currently working as Product Designer at Hotmart, Tattoo Artist at InkStarter and also a member of the Awwwards Jury.')
        meta(itemprop='image', content='https://setetres.st/img/share-home.png')
        meta(itemprop='url', content='https://setetres.st')

        meta(name='twitter:card', content='summary')
        meta(name='twitter:title', content='Sete Três')
        meta(name='twitter:description', content='Hello, my name is Guilherme Pangnotta. Born and raised in São Paulo now living in Belo Horizonte, Brazil. Currently working as Product Designer at Hotmart, Tattoo Artist at InkStarter and also a member of the Awwwards Jury.')
        meta(name='twitter:image', content='https://setetres.st/img/share-home.png')
    body.body.body--loading
        include inc/progress.pug
        include inc/header.pug
        include inc/navigation.pug
        main#main.main.main--active
            .main-wrapper
                section.section.section--home
                    .section__content
        include inc/stripe.pug
        include inc/scripts.pug
