doctype html
html(lang='en', itemscope='', itemtype='http://schema.org')
    head
        include inc/meta.pug

        title Sete Três — v9
        meta(name='description', content='v9.0 of my website.')
        link(rel='canonical', href='https://v9.setetres.st')

        meta(property='og:type', content='website')
        meta(property='og:title', content='Sete Três — v9')
        meta(property='og:description', content='v9.0 of my website.')
        meta(property='og:image', content='https://v9.setetres.st/img/share-v9.png')
        meta(property='og:url', content='https://v9.setetres.st')

        meta(itemprop='name', content='Sete Três — v9')
        meta(itemprop='description', content='v9.0 of my website.')
        meta(itemprop='image', content='https://v9.setetres.st/img/share-v9.png')
        meta(itemprop='url', content='https://v9.setetres.st')

        meta(name='twitter:card', content='summary')
        meta(name='twitter:title', content='Sete Três — v9')
        meta(name='twitter:description', content='v9.0 of my website.')
        meta(name='twitter:image', content='https://v9.setetres.st/img/share-v9.png')
    body.body.body--loading
        include inc/progress.pug
        include inc/header.pug
        include inc/navigation.pug
        main#main.main.main--active
            .main-wrapper
        include inc/stripe.pug
        include inc/scripts.pug
