@import 'variables';
@import 'utils';

.header {
    align-items: center;
    display: flex;
    height: 50vh;
    padding: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 50;

    @media (min-width: map-get($grid, md)) {
        height: 100vh;
    }

    &__title {
        color: $black;
        display: none;
        font-size: 28px;
        left: 0;
        margin: -70px 0 0 15px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        text-transform: uppercase;
        transform: rotate(-90deg);
        transform-origin: bottom left;
        transition: transform ($timing * 2) $easing-in ($delay * 3), opacity ($timing * 2) $easing-in ($delay * 3), margin-top ($timing * 2) $easing-in ($delay * 3);

        a {
            color: $accent-color;
            opacity: 1;
            text-decoration: none;
        }

        &--active {
            margin-top: -90px;
            opacity: 1;
            transition: transform ($timing * 2) $easing-out, opacity ($timing * 2) $easing-out, margin-top ($timing * 2) $easing-out;
        }
    }
}
