@import 'variables';
@import 'utils';

.header {
    align-items: center;
    display: flex;
    height: 50vh;
    padding: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 50;

    @media (min-width: map-get($grid, md)) {
        height: 100vh;
    }

    &__title {
        @extend %small;
        background-color: $black;
        color: $white;
        display: block;
        left: -100%;
        margin: -1px 0 0;
        opacity: 1;
        padding: 5px 10px 6px;
        pointer-events: none;
        position: absolute;
        text-transform: none;
        transition: left ($timing * 4) $easing-in ($delay * 3);

        &--active {
            left: 0;
            transition: left ($timing * 4) $easing-out ($delay * 3);
        }
    }

    &__title span {
        &:first-child {
            display: none;

            @media (min-width: map-get($grid, lg)) {
                display: inline-block;
            }
        }

        &:last-child {
            display: inline-block;

            @media (min-width: map-get($grid, lg)) {
                display: none;
            }
        }
    }
}
